<div ng-controller="TablesCtrl as table">
  <div class="row">
    <div class="col-lg-6">
      <rd-widget>
        <rd-widget-header icon="fa-tasks" title="Servers">
          <a href="#">Manage</a>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <!--TODO dedug pagination-->
              <tbody ng-repeat="reg in table.regs">
                <tr><td>{{reg.title}}</td><td>{{reg.ip}}</td><td><span class={{reg.text}}><i class={{reg.status}}></i></span></td></tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          <ul class="pagination pagination-sm pull-right">
            <!--<li><a href="#">&laquo;</a></li>-->
            <li><a ng-repeat="reg in table.regs | pageCount:table.pageSize"
                   ng-click="table.selectPage($index + 1)" ng-class="table.getPageClass($index + 1)">{{$index + 1}}</a>
            <!--<li><a href="#">&raquo;</a></li>-->
          </ul>
          <div class="clearfix"></div>
        </rd-widget-footer>
      </rd-widget>
    </div>
    <div class="col-lg-6">
      <rd-widget>
        <rd-widget-header icon="fa-tasks" title="Striped Servers">
          <a href="#">Manage</a>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <tbody ng-repeat="reg in table.regs">
              <tr><td>{{reg.title}}</td><td>{{reg.ip}}</td><td><span class={{reg.text}}><i class={{reg.status}}></i></span></td></tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          <ul class="pagination pagination-sm pull-right">
            <!--<li><a href="#">&laquo;</a></li>-->
            <li><a ng-repeat="reg in table.regs | pageCount:table.pageSize"
                   ng-click="table.selectPage($index + 1)">{{$index + 1}}</a>
            <!--<li><a href="#">&raquo;</a></li>-->
          </ul>
          <div class="clearfix"></div>
        </rd-widget-footer>
      </rd-widget>
    </div>
  </div>
</div>